.card-container {
    background-color: #f4f4f4; /* Light, retro-style background */
    height: auto;
    min-height: 400px;
    max-width: 950px;
    margin: 20px auto;
    border: 4px solid #000; /* Thick, black border for that pixelated look */
    box-shadow: 3px 3px 0px #333; /* Pixel-like shadow */
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: justify;
  }
  
  .card-text {
    font-size: 32px; /* Larger blocky text */
    font-family: "Montserrat", sans-serif;
    color: black; /* Darker text for retro feel */
    line-height: 1.2; /* Tighter line spacing */
    margin: 0;
    font-weight: 500;
    text-align: justify;
}

.card-title {
    
    font-family: "Press Start 2P", system-ui;
    color: white; /* Darker text for retro feel */
    line-height: 1.2; /* Tighter line spacing */
    margin: 0;
    text-align: center;
  }
  
  /* Pixelated font */
  
  
  .card-wrapper {
    color: white;
    text-align: center;
  }
  

  .bold-highlight {
    font-family: "Press Start 2P", system-ui;
    color: black; 
    font-size: 24px;
    line-height: 1.2; 
    margin: 0;
    font-weight: 200;
    text-align: center;
    text-decoration: none; /* Remove the default underline */
  }

  .special-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 27px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');