.card-container {
    background-color: white;
    height: 500px;
    border-radius: 50px;
    opacity: 0.5;
    text-align: center;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
}