/* src/CreditsPage.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.credits-page {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.credits-title {
    font-size: 48px;
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
}

/* Sliding animation for title */

.credits-content {
  width: 80%;
  max-width: 800px;
}

/* Fade-in effect for content */

.credits-section {
    margin-bottom: 40px;
}

.credits-section h2 {
  font-size: 24px;
  text-shadow: 1px 1px 0px #fff;
}

.credits-section ul {
  list-style: none;
  padding: 0;
}

.credits-section ul li {
  font-size: 18px;
  line-height: 1.8;
  text-shadow: 1px 1px 0px #000;
}

/* Enhanced effect for the "THANK YOU ALL" message */
.credits-page:after {
    content: 'THANK YOU ALL! THIS WAS OUR NASA SPACE APPS PROJECT!';
    display: block;
    margin-top: 50px;
    font-size: 11px;
    color: #3381f7;
    font-family: 'Press Start 2P', cursive;
    animation: smoothBlink 4s infinite ease-in-out, gentlePulse 3.5s infinite ease-in-out, float 6s infinite ease-in-out;
}

/* Smooth blinking effect */
@keyframes smoothBlink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

/* Subtle pulsing effect */
@keyframes gentlePulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08); /* Slightly stronger pulse */
    }
}

/* Floating effect to give it a "hovering" feel */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Gentle floating motion */
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 1em;
    bottom: 25px;
    animation: fadeInSection 1.2s ease-in forwards;
    cursor: pointer;
    &:active {
        transform: scale(0.9);
    }
}

.go-home {
    height: 150px;
}
