/* Container holding the background and spaceship */
.space-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../assets/images/Space.gif') repeat-x; /* Image repeats horizontally */
    background-size: cover;
    animation: moveBackground 90s linear infinite; /* Adjust speed with 10s */
  }
  
  /* Spaceship in the center of the screen */
  .spaceship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the spaceship */
    width: 200px; /* Adjust size as needed */
    height: auto;
  }
  
  /* Animation for the background to move left */
  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -10000px 0; /* Large value to make the movement seamless */
    }
  }
  
.spaceship {
    height: 500px;
    width: 500px;
}
